@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}

:root {
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

body {
  width: 100%;
  min-height: 100vh;
}

#__next {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#hide {
  display: none;
}

@media (width >= 1000px) {
  #__next {
    min-height: 100vh;
    position: relative;
    padding: 0 20px;
    flex-direction: row;
  }
}
